* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1)) translate(6%, -45%);
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat 5px -7px/2px 6px, linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat 5px 14px/2px 6px, linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat -8px 5px/6px 2px, linear-gradient(to bottom, currentColor 0px, rgb(255, 174, 0) 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px rgb(255, 174, 0);
  border: 6px solid transparent;
}

.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid rgb(255, 174, 0);
  border-left: 4px solid rgb(255, 174, 0);
  left: -6px;
  top: 5px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1)) translate(-59%, -22%);
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-bottom-color: transparent;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 18px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  top: 8px;
}

header {
  font-weight: 600;
}
header .navbar-brand {
  display: flex;
  gap: 10px;
  width: 5%;
  align-items: center;
}
header .navbar-brand img {
  width: 100%;
}
header .navbar-brand span {
  font-size: 40px;
}
header .navbar-collapse {
  font-size: 20px;
  justify-content: end;
  gap: 10px;
}
header .navbar-collapse .search {
  position: relative;
}
header .navbar-collapse .search .btnSearch {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  transform: translate(-7px, 3px);
  background: none;
}
header .navbar-collapse .cart {
  padding: 3px 10px;
  border-radius: 10px;
  background: red;
  border: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
header .navbar-collapse .cart .info_cart {
  position: relative;
}
header .navbar-collapse .cart .info_cart #soLuongDaChon {
  position: absolute;
  right: -5px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 800;
}
header .navbar-collapse .icon_theme i {
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
header .navbar-collapse .icon_theme i.active {
  opacity: 1;
  z-index: 2;
}

#carousel {
  margin: 20px 0;
}
#carousel .item {
  height: 30vh;
  width: 60%;
  margin: auto;
}
#carousel .item img {
  width: 100%;
  height: 100%;
}
#carousel::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 2px;
  background-color: rgb(243, 138, 212);
}

#product #filter_pet .filter_content {
  background-color: pink;
  border-radius: 15px;
  padding-bottom: 10px;
}
#product #filter_pet .filter_content > li {
  padding-top: 15px;
}
#product #filter_pet .filter_content .title {
  padding: 5px 30px;
  font-size: 18px;
  font-weight: 600;
}
#product #filter_pet .filter_content .filter_item {
  margin: 0 3rem;
}
#product #filter_pet .filter_content .filter_item > li:not(:has(> div)) {
  padding: 10px 0 10px 4rem;
}
#product #filter_more {
  display: flex;
  justify-content: end;
}
#product #filter_more select {
  border-radius: 15px;
  padding: 10px 20px;
  width: 23%;
}
#product .col-3 {
  padding: 10px 10px;
}
#product .pet_item {
  position: relative;
  padding: 20px;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: pink;
}
#product .pet_item img {
  width: 100%;
}
#product .pet_item .pet_info {
  padding-top: 10px;
}
#product .pet_item .pet_info h4 {
  font-size: 20px;
  height: 50px;
}
#product .pet_item .pet_info div {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
#product .pet_item .quangCao {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  padding: 3px 3px 10px 10px;
  line-height: 15px;
  background-color: red;
  color: yellow;
  border-radius: 0 0 0 16px;
}
#product .pet:nth-child(n+5) {
  display: none;
}
.btn-style, #product .pet_item .buyBtn, #product #showMore {
  padding: 5px 15px;
  font-size: 16px;
  background: red;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: yellow;
}

#yourBill .table th,
#yourBill .table td {
  vertical-align: middle;
}
#yourBill .table .colSoLuong {
  align-items: center;
}
#yourBill .table .colSoLuong .btn {
  font-size: 2rem;
  line-height: 1rem;
  padding: 6px;
  padding-bottom: 10px;
}
#yourBill .table .colSoLuong .btn:first-of-type {
  padding: 8px 10px;
}

.col-style, #yourBill .table .colDesc, #yourBill .table .colSoLuong {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}/*# sourceMappingURL=main.css.map */